<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/firstresult" method="post">
    <div>Provide a number</div>
    <input type="text" name="number" placeholder="Insert a number">
    <input type="submit" value="Calculate">
</form>

<form action="/secondresult" method="post">
    <div>Provide a number</div>
    <input type="text" name="secondNumber" placeholder="Insert a number">
    <input type="submit" value="Calculate">
</form>


</body>
</html>